<h1 class="text-center">Search for a book:</h1>
<div class="container">
  <form id="search-books" class="text-center mt-5">
    <input type="text" placeholder="Enter a book name" class="w-50" id="search-books-text">
    <input type="submit" value="Search" id="search-books-submit">
  </form>
  <div class="search-results"></div>
  <div class="modal hidden" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et soluta aut, sit vel vitae maiores. Eaque distinctio nisi veritatis, aliquam earum velit esse dolore quos ea necessitatibus numquam fugiat rerum repellendus eveniet libero nesciunt vero iste aliquid. A libero aperiam ducimus doloribus laborum! Asperiores quidem saepe incidunt, possimus a laborum id eum tenetur odit necessitatibus, aut in sint distinctio illo. Ducimus, odit ratione excepturi, possimus dolorem deserunt sapiente reprehenderit blanditiis eveniet quisquam architecto itaque accusamus ipsam. Quis nam officiis voluptate delectus enim eligendi nulla voluptatum aspernatur perferendis id ea veniam officia architecto ratione, deleniti quod ipsum harum odit dolorem, laboriosam consequatur hic ad. Alias et, maxime quibusdam, illum similique nobis enim aspernatur eum maiores consectetur deserunt quisquam, rem temporibus nostrum magni iste est quasi corporis placeat id beatae? Dolor blanditiis molestiae minus voluptas cumque quasi, quidem velit omnis at natus sunt asperiores, ea facilis tempora deserunt ipsa iusto harum numquam repellat qui eum ad fugiat dignissimos. Quod nisi doloremque eos neque minus quibusdam, non harum veniam exercitationem sint, sed ad nostrum assumenda culpa animi! Incidunt dolores similique architecto eos magni molestias sapiente maxime! Rem pariatur ratione sit facilis in a nam, corporis laboriosam neque? Eligendi molestias excepturi nesciunt ad soluta!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>