<h1 class="text-center">Search for a book:</h1>
<div class="container">
  <form id="search-books" class="text-center mt-5">
    <input type="text" placeholder="Enter a book name" class="w-50" id="search-books-text">
    <input type="submit" value="Search" id="search-books-submit">
  </form>
  <div class="search-results"></div>
</div>