<h1 class="text-center">Search for a book:</h1>
<div class="container">
  <form id="search-books" class="text-center mt-5">
    <input type="text" placeholder="Enter a book name" class="w-50" id="search-books-text">
    <input type="submit" value="Search" id="search-books-submit">
  </form>
  <div class="search-results"></div>
  <div class="modal hidden" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add to my collection</button>
      </div>
    </div>
  </div>
</div>
</div>